body {
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(circle at top, #1e293b, #020617);
    color: white;
}

/* Navbar */
.navbar {
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
}

/* Hero */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(135deg, #1e3a8a, #9333ea, #ec4899);
}

/* Buttons */
.btn-custom {
    background: #facc15;
    border-radius: 30px;
    border: none;
    color: black;
}

/* Cards */
.card {
    background: rgba(255,255,255,0.05);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}